<template>
  <v-layout wrap>
    <v-flex>
      <v-card class="mx-auto" max-width="400" tile>
        <v-card-title>Author</v-card-title>
        <v-list-item v-for="blog in blogs" :key="blog.id">
          <v-list-item-content :to="'/blog/' + blog.id">
            <v-list-item-title>{{ blog.name }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
export default {
  name: "HomeView",

  data: () => ({
    apiDomain: "http://localhost:8000",
    blogs: [],
  }),

  created() {
    const config = {
      method: "get",
      url: this.apiDomain + "/api/author",
    };

    this.axios(config)
      .then((response) => {
        let blogs = response.data.data;
        this.blogs = blogs;

        console.log(this.blogs);
      })
      .catch((error) => {
        console.log(error);
      });
  },
};
</script>
